//@import '../../../node_modules/vuetify/src/stylus/settings/_colors'

//$theme := {
// primary: $red.darken-4
// accent: $red.darken-1
// secondary: $grey.darken-3
// info: $blue.base
// warning: $teal.base
// error: $red.base
// success: $green.base
//}
//


$color-pack = true;
//
@import '../../../node_modules/vuetify/src/stylus/main.styl'




.nojsp {
  bottom: 1em;
  border: 1px solid red;
  margin-top: 10%;
  position: absolute;
  width: 100vw;
  text-align:center;
  background: red;
  color: white;
  padding: 1em;
  font-size: 14px;
}
.nojsp > a {
  color: white !important;
}
